<div>
    <h3>Some Detail</h3>
    <div *ngIf="transaction">
        <dl>
            <dt class="col-xs-3">Date:</dt>
            <dd class="col-xs-9">{{transaction.date | date:'mediumDate'}}</dd>
            <dt class="col-xs-3">Payee:</dt>
            <dd class="col-xs-9">{{transaction.payee}}</dd>
            <dt class="col-xs-3">Amount:</dt>
            <dd class="col-xs-9">{{transaction.amount}}</dd>
        </dl>
    </div>
    
    <div>
        <br />
        <mm-transactions-list [transactions]="relatedTransactions"></mm-transactions-list>
    </div>
</div>